.slider{
    height: 30vh;
    width: 100%;
    display: flex;
    gap: 5px;
    overflow-x: hidden;
    padding-left: 10px;
}

.slidepic-container{
    width: 45vw;
    min-height: 35vh;
    background-image: linear-gradient( rgba(18, 18, 18, 0), rgba(18, 18, 18, 0), rgba(18, 18, 18, 0.4));
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2000;
}


.slidepic{
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1000000;
    position:absolute;
}

.slide-caption{
    position: absolute;
    color: white;
    top:85%;
    left: 5%;
    z-index: 10000;
    font-family: MaisonNeueMedium, Arial, sans-serif;
    font-weight: lighter;
}

/* how best to do the image gradient? */